<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>CSS Template</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <link rel="stylesheet" type="text/css" th:href="@{/static/output.css}">
    </head>
    <body>
        <div>
            <div th:include="fragments/Header :: header" class="bg-green-400"></div>
            <div class="flex h-3/4">
                <!-- Sidebar -->
                <div class=" bg-slate-500 w-1/4 h-screen"></div>
                
                <!-- Main Content Area -->
                <div class="bg-slate-50 w-3/4 h-screen ">
                    <!-- Search Form -->
                    <form action="find" method="post" class="flex items-center bg-slate-400 p-4 rounded-md">
                        <label for="username" class="text-gray-700 font-semibold mb-2 px-2">Tìm Kiếm</label>
                        <input type="text" id="username" name="username" class="border-2 border-gray-300 rounded-l-2xl px-3 py-1 ml-2 w-3/4 focus:outline-none focus:border-blue-500">
                        <button type="submit" class="bg-slate-100 px-4 py-1 rounded-r-2xl border-2 border-gray-300 focus:outline-none focus:border-blue-500">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                    
                    <!-- Product Grid -->
                    <div class="grid grid-cols-3 grid-rows-2 gap-4 p-4 flex-grow">
                        <!-- Loop through products -->
                        <div th:each="product : ${find}" class="bg-slate-400 p-4 rounded-md">
                            <img th:src="@{'/static/img/' + ${product.imageFileName}}" alt="" class="w-full rounded">
                            <div class="mt-2">
                                <h4 th:text="${product.name}" class="text-lg font-semibold text-center"></h4>
                                <p th:text="'Price: ' + ${product.price}" class="text-sm text-gray-700 text-center"></p>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
            <div th:include="fragments/foodter :: footer" class="bg-red-500"></div>
        </div>
    </body>
</html>

